# Análise exploratória de dados

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown

In [8]:
df = pd.read_csv('../data/raw/data.csv')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 1. Descrição dos dados

Conjunto de dados sobre os passageiros do Titanic.

### 1.1. Dicionário de dados

In [9]:
dicionario = pd.read_csv('../data/external/dictionary.csv')
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu (1) ou não (0).,qualitativa,nominal
1,pclass,"Classe do bilhete do passageiro (1 = Primeiro,...",qualitativa,ordinal
2,sex,"Sexo do passageiro (male = masculino, female =...",qualitativa,nominal
3,age,Idade do passageiro em anos.,quantitativa,contínua
4,sibsp,Número de irmãos ou cônjuges a bordo.,quantitativa,discreta
5,parch,Número de pais ou filhos a bordo.,quantitativa,discreta
6,fare,Tarifa paga pelo passageiro.,quantitativa,contínua
7,embarked,Porto de embarque do passageiro (C = Cherbourg...,qualitativa,nominal
8,class,"Classe do bilhete do passageiro (First, Second...",qualitativa,ordinal
9,who,"Categoria do passageiro (man = homem, woman = ...",qualitativa,nominal
10,adult_male,Indica se o passageiro é um adulto do sexo mas...,qualitativa,nominal
11,deck,Deck do navio onde o passageiro estava localiz...,qualitativa,nominal
12,embark_town,"Cidade de embarque do passageiro (Cherbourg, Q...",qualitativa,nominal
13,alive,Indica se o passageiro está vivo (yes) ou não ...,qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho (True) o...,qualitativa,nominal

* 15 variáveis, sendo 9 qualitativas nominais, 2 qualitativas ordinais, 2 quantitativas contínuas e 2 quantitativas discretas

## 2. Perguntas de partida e hipóteses

1. **Existem dados faltantes, se sim quantos e em quais variáveis?** 
2. **Qual a distribuição dos dados (variável por variável)?**
3. **Qual o impacto do gênero na sobrevivência?**
4. **A idade tem algum efeito sobre a chance de sobrevivência?** 
5. **A classe do passageiro  tem impacto para sobrevivência?**

## 3. Insights